-c requirements.txt
-r requirements.txt

# modelkit cli
modelkit[cli]

# vectorizer fitting
scikit-learn

# lint & tests
black
coverage
pytest
black
flake8
isort
nox
mypy

# docs
mkdocs-material
pymdown-extensions

# pip
pip-tools
